@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sigilos";
  src: url("../public/Sigilos-Regular.ttf");
}

@font-face {
  font-family: "Westsac";
  src: url("../public/westsac.ttf");
}

@font-face {
  font-family: "Sinais";
  src: url("../public/SinaisEstrangeiro.ttf");
}

@font-face {
  font-family: "Blur";
  src: url("../public/Blur Light Regular.otf");
}
