@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sigilos";
  src: url("/Sigilos-Regular.ttf");
}

@font-face {
  font-family: "Westsac";
  src: url("/westsac.ttf");
}

@font-face {
  font-family: "Sinais";
  src: url("/SinaisEstrangeiro.ttf");
}

@font-face {
  font-family: "Blur";
  src: url("/Blur Light Regular.otf");
}
